@use 'proxy';
@use 'api';

:root {
  --ifm-color-primary: #f7912d;
  --ifm-color-primary-dark: #f68211;
  --ifm-color-primary-darker: #ef7b09;
  --ifm-color-primary-darkest: #c56508;
  --ifm-color-primary-light: #f8a049;
  --ifm-color-primary-lighter: #f9a757;
  --ifm-color-primary-lightest: #fabd81;
  --ifm-code-font-size: 95%;
  --ifm-background-color: #fff;

  --docusaurus-highlighted-code-line-bg: rgb(235, 235, 235);
}

[data-theme='dark'] {
  --docusaurus-highlighted-code-line-bg: #3f4255;
}

.theme-code-block-highlighted-line {
  display: table-row !important;
}

.video-container {
  height: 0;
  margin: 0;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.saml-tutorial-img {
  border: 1px solid rgb(224, 224, 224);
  margin-bottom: 1rem;
}

.zoomed-in-img {
  border: 1px solid rgb(224, 224, 224);
}

table td:first-child {
  white-space: nowrap;
}

.bottom-spaced {
  margin-bottom: 1em;
}

span[class*='codeLineNumber'] {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
