QuitScreen {
    align: center middle;
}

#quit-screen-grid{
    grid-size: 1 2;
    grid-rows: 1fr 4;
    width: 40%;
    height: 40%;
}

#quit-question {
    width: 100%;
    height: 100%;
    text-align: center;
}

#quit-screen-footer {
    align: center middle;
    grid-size: 2 1;
}
