database.sqlite
.cache/*
files/user/*
files/ui/*
OAI_CONFIG_LIST
scratch/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
