
# Replace with your own values
export SERVICETYPE=AzureOpenAI
export SERVICEID=gpt-4
export DEPLOYMENTORMODELID=gpt-4
export EMBEDDINGDEPLOYMENTORMODELID=text-embedding-ada-002
#export ENDPOINT=YOURENDPOINTHERE
#export APIKEY=YOURKEYHERE:wq
