<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>

    <!--add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" /-->
    <add key="Jint prereleases" value="https://www.myget.org/F/jint/api/v3/index.json" />
    <add key="Elsa prereleases" value="https://f.feedz.io/elsa-workflows/elsa-3/nuget/index.json" />
  </packageSources>
</configuration>