model=gpt-4o-mini
AZURE_API_KEY=<your-api-key>
AZURE_API_BASE=https://<your-api-base>.openai.azure.com/
AZURE_API_VERSION=2024-08-01-preview
KUBECONFIG=/workspaces/autogen/python/samples/gitea_install/kubeconfig
REPO_URL=https://github.com/<my-org>/<my-repo>
REPO_PAT=<some-token-ending-with->11AVBLMCI0RB9l4J3GBnAC
