#main-grid {
    layout: grid;
    grid-size: 10 10;
    grid-gutter: 1;
    padding: 1;
}

#directory-tree-grid {
    row-span: 10;
    column-span: 3;
    padding: 1;

    grid-size: 1 10;

    align: center middle;
}

#chat-container{
    row-span: 10;
    column-span: 7;
    padding: 1;

    layout: grid;
    grid-size: 10 10;
}

#directory-tree{
    row-span: 9;
    padding: 1;
}

#directory-tree-footer{
    row-span: 1;
    align: center middle;
}

#empty-work-dir-button{
    width: 40%;
}


#chat-history {
    padding: 2;
    row-span: 9;
    column-span: 10;
}

#chat-input{
    column-span: 10;
    row-span: 1;
}

#skills{
    row-span: 10;
    column-span: 2;
    height: 100%;
    padding: 1;
}

.message{
    padding: 1;
    margin: 1;
}

.info-message {
    color: orange;
    text-opacity: 60%;

}

.error-message {
    color: $error;
    text-opacity: 60%;
}

.user-message {
    background: $boost;
}

.assistant-message {
    border: $boost;
}

QuitScreen {
    align: center middle;
}

#dialog {
    grid-size: 2;
    grid-rows: 1fr 3;
    grid-gutter: 1 2;
    height: 40%;
    width: 40%;
    background: $surface;
    border: thick $background 80%;
    padding: 1;
}

#question {
    column-span: 2;
    height: 1fr;
    content-align: center middle;
    width: 1fr;
}

/* Button {
    width: 100%;
} */

ChatScreen {
    align: center middle;
}

#chat-screen {
    grid-size: 2 10;
    grid-rows: 10% 80% 10%;
    height: 80%;
    width: 80%;
    background: $surface;
    border: thick $background 80%;
    padding: 1;
}

#chat-screen-header {
    column-span: 2;
    height: 3;
    content-align: center middle;
    align: center middle;
    /* border: solid red; */
}

#chat-screen-contents {
    column-span: 2;
    height: 100%;
    /* content-align: center middle; */
    margin: 1;
    border: solid $background;
}

#chat-screen-footer {
    column-span: 2;
    height: 5;
    align: center middle;
    /* border: solid red; */
}

#chat-screen-footer Button {
    width: 40%;
}

SettingsScreen {
    layout: grid;
    align: center middle;
}

#settings-screen {
    grid-size: 2 10;
    height: 90%;
    width: 90%;
    background: $surface;
    border: thick $background 90%;
    padding: 1;
}

#settings-screen-contents {
    grid-size: 1 2;
    grid-gutter: 1 2;
    grid-rows: 5 15;
    /* border: solid red; */
}

.settings-screen-footer {
    grid-size: 2 1;
    align: center middle;
    height: 5;
}

.settings-screen-footer Button {
    width: 40%;
}

.heading {
    text-style: bold;
}

.form-label{
    text-style: bold;
    margin-bottom: 1;
}

#tools-tab-grid{
    grid-size: 5 5;
    grid-gutter: 1 2;

    /* border: solid red; */
}

#tool-list-container {
    column-span: 1;
    row-span: 5;

    layout: grid;
    grid-size: 1 10;

    /* border: solid red; */
}

#tool-list {
    column-span: 2;
    width: 100%;
    row-span: 9;

    /* border: solid red; */
}

#new-tool-button {
    row-span: 1;
    column-span: 1;
    width: 100%;

    /* border: solid red; */
}


#tool-view-grid {
    column-span: 4;
    row-span: 5;

    grid-size: 10 10;
    grid-gutter: 1;

    padding: 1;
    border: solid $secondary-background;

}

#tool-info-container {
    column-span: 3;
    row-span: 9;
    content-align: center middle;
    /* border: solid red; */
}

#tool-view-footer-grid {
    column-span: 10;
    row-span: 1;

    grid-size: 2 1;

    align: center middle;
    /* border: solid red; */
}

#tool-view-footer-grid Button {
    width: 40%;
}

#tool-code-container {
    column-span: 7;
    row-span: 9;
    /* border: solid red; */
}


#tool-list ListItem {
    padding: 1;
    margin: 1;
}
