export BING_API_KEY=
export OAI_CONFIG_LIST='
[
    {
        "model": "gpt-4",
        "api_key": "",
        "organization": ""
    },
    {
        "model": "gpt-3.5-turbo-16k",
        "api_key": "",
        "organization": ""
    }
]
'
