# gitignore file for C#/VS

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# vs cache
.vs/

# vs code cache
.vscode/

# Properties
Properties/

artifacts/
output/

*.binlog

# JetBrains Rider
.idea/