.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
}

.featureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureSvg {
  height: 130px;
  width: auto;
  margin-bottom: 1rem;
}
