{
    "SHOPPING_URL": "",
    "SHOPPING_ADMIN_URL": "",
    "REDDIT_URL": "",
    "GITLAB_URL": "",
    "MAP_URL": "",
    "WIKIPEDIA_URL": "",
    "HOMEPAGE_URL": "",

    "WEB_SURFER_DEBUG_DIR": "/autogen/debug"
}
