{
    "SHOPPING_URL": "",
    "SHOPPING_ADMIN_URL": "",
    "REDDIT_URL": "",
    "GITLAB_URL": "",
    "MAP_URL": "",
    "WIKIPEDIA_URL": "",
    "HOMEPAGE_URL": "",

    "REDDIT_USER_NAME": "",
    "REDDIT_PASSWORD": "",

    "WEB_SURFER_DEBUG_DIR": "/autogen/debug"
}
