{
    "SHOPPING": "",
    "SHOPPING_ADMIN": "",
    "REDDIT": "",
    "GITLAB": "",
    "MAP": "",
    "WIKIPEDIA": "",
    "HOMEPAGE": "",

    "REDDIT_USERNAME": "",
    "REDDIT_PASSWORD": "",

    "GITLAB_USERNAME": "",
    "GITLAB_PASSWORD": "",

    "SHOPPING_USERNAME": "",
    "SHOPPING_PASSWORD": "",

    "SHOPPING_ADMIN_USERNAME": "",
    "SHOPPING_ADMIN_PASSWORD": "",

    "WEB_SURFER_DEBUG_DIR": "/autogen/debug",

    "OPENAI_API_KEY": ""
}
